* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #ffffff;
    --secondary-color: #4d4d4d;
    --tertiary-color: #000000;
}

html { 
    background: url("../images/fullstack-hero.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* header styles start */

header {
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 60px;
    width: 100vw;
    /* visuals */
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;
}

header a {
    text-decoration: none;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    justify-content: space-around;
}

header h1 {
    font-size: 40px;
    font-weight: bolder;
    color: var(--secondary-color);
    margin: 0;
    text-align: left;
    /* visuals */
    text-shadow: 5px 5px 10px rgba(255, 255, 255, 0.5);
}

header h2 {
    color: var(--primary-color)
}

header nav {
    margin: 5px 0;
    display: flex;
    align-items: center;
}

header nav ul {  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.5vw;
}

    /* header pseudo class */
header nav ul li a:hover {
    background: var(--tertiary-color);
    color: var(--primary-color);
    border-radius: 10px;
    text-shadow: none;
}
    /* header pseudo class end */    

.headerwrapper {
    font-size: 20px;
    font-weight: bolder;
    color: var(--primary-color);
    margin: 0;
    text-align: center;
    /* visuals */
    text-shadow: 5px 5px 10px rgba(255, 255, 255, 0.5);
}
    
/* header style ends */

/* intro style start */
.intro {
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.intro h1 {
    width: 40%;
    text-align: center;
    margin: 3.5%;
    font-size: 40px;
    line-height: 1.2;
    color: var(--primary-color);
    /* visuals */
    text-shadow: -5px -5px 15px rgba(255, 255, 255, 0.5);
}

.intro p {
    width: 40%;
    margin: 3.5%;
    color: var(--primary-color);
    /* visuals */
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

/* work style start */
.work {
    width: 80%;
    text-align: left;
    margin: 3.5% auto;
    font-size: 20px;
    line-height: 1.2;
    color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    /* visuals */
    text-shadow: -5px -5px 15px rgba(255, 255, 255, 0.5);
}

.project {
    margin: 25px auto;
    padding-bottom: 50px;
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border: 3px solid var(--tertiary-color);
}

.project1 {
    margin: 25px auto;
    padding-bottom: 50px;
    width: 60%;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border: 3px solid var(--tertiary-color);
}


.project-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: 1px solid var(--tertiary-color);
}

/* work style end */



/* about me style start */
.about-me {
    width: 40%;
    text-align: left;
    margin: 3.5% auto;
    font-size: 20px;
    line-height: 1.2;
    color: var(--primary-color);
    justify-content: space-between;
    flex-direction: column;
    /* visuals */
    text-shadow: -5px -5px 15px rgba(255, 255, 255, 0.5);
}

.aboutme-text {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

/* about me style end */

/* footer contact me style start */
.contact-me {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 3.5% 0;
    font-size: 20px;
    line-height: 1.2;
    color: var(--primary-color);
    /* visuals */
    text-shadow: -5px -5px 15px rgba(255, 255, 255, 0.5);
}

.contact-text {
    display: flex;
}

.contact-me h3 {
    padding: 10px 30px;
    background-color: var(---primary-color);
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

a {
    color: var(--primary-color);
}

a:link {
    text-decoration: none;
}

/* media queries */

@media screen and (max-width: 980px) {
    header {
      padding-bottom: 5px;
      justify-content: center;
      position: relative;
    }
  
    header h1 {
      width: 100%;
      text-align: center;
    }
  
    header nav ul {
      width: 100%;
      justify-content: center;
    }
  
    header nav ul li a {
      font-size: 20px;
    }
  }
  